<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <!--EX1-->
   <servlet>
       <servlet-name>Hello</servlet-name>
       <servlet-class>Ex1</servlet-class>
   </servlet>
    
    <servlet-mapping>
        <servlet-name>Hello</servlet-name>
        <url-pattern>/Hello</url-pattern>
    </servlet-mapping>

    <!--EX2-->
    <servlet>
        <servlet-name>Registrazione</servlet-name>
        <servlet-class>Ex2</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>Registrazione</servlet-name>
        <url-pattern>/registra</url-pattern>
    </servlet-mapping>

     <!--EX3-->
    <servlet>
        <servlet-name>Calcolatrice</servlet-name>
        <servlet-class>Ex3</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Calcolatrice</servlet-name>
        <url-pattern>/Calc</url-pattern>
    </servlet-mapping>

    <!--EX4-->
    <servlet>
        <servlet-name>Count</servlet-name>
        <servlet-class>Ex4</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Count</servlet-name>
        <url-pattern>/Count</url-pattern>
    </servlet-mapping>


    <!--EX5-->
    <servlet>
        <servlet-name>Concat</servlet-name>
        <servlet-class>Ex5</servlet-class>
        <init-param>
            <param-name>hello</param-name>
            <param-value>ciao mondo</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>Concat</servlet-name>
        <url-pattern>/Concat</url-pattern>
    </servlet-mapping>

</web-app>