<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    
    <servlet>
        <servlet-name>registrazione</servlet-name>
        <servlet-class>controller.Registration</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registrazione</servlet-name>
        <url-pattern>/registrazione</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>autenticazione</servlet-name>
        <servlet-class>controller.Authentication</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>autenticazione</servlet-name>
        <url-pattern>/autenticazione</url-pattern>
    </servlet-mapping>

</web-app>